/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Globals */
:root {
  --theme-bg-color: rgb(34,34,34);
  --theme-callout-bg: rgb(29, 29, 29);
  --theme-callout-border: #424242;
  --theme-text-color: #ccc;
  --theme-link-color: #5098d6;
}

a {
  color: var(--theme-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--theme-bg-color);
  font: Verdana;
  color: var(--theme-text-color);
}